#graella{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.info{
    background-color: rgb(245, 196, 245);
    border: 1px solid rgb(131, 0, 131);
    margin: 10px;

}
#div1{

    Font-size:150%;

}

#div2{
    text-align: center;

}

#div3{
    color: rgb(6, 136, 153);
}
#div4{
    text-decoration:underline;
    
}
#div5{
    text-transform:uppercase;
}