body{

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    
}
#body{

    border: 1px white solid;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    padding-bottom: 1%;
   
}


p{

    color: white;
}
img{

    border-radius: 10px;
    border: 1px white solid;

}

.titulo{
    text-shadow: 
      -1px -1px 0 white,  
      1px -1px 0 white,
      -1px 1px 0 white,
      1px 1px 0 white; 

}


button{
    color: white;
    background-color: rebeccapurple;
    border-radius: 10px;
    border-color: white ;
    margin: 3px;
    padding: 8px;
   
    
}

button:hover{
    color: black;
    background-color: rgb(0, 255, 234);

}

.ocultar{
    display: none;
    
}

.mostrar{

    display: block, inline-block;
   
}
.presionado{
    background-color: rgb(143, 0, 148);
    color: white;

}

